.tabs-ios .tabbar {
	background-color: $color-neutral-10;
}

#tab-t0-1 {
	overflow: inherit;

	ion-icon {
		color: #F7D070;
		border-radius: 10rem;
		font-size: 6rem;
		transform: translateY(-2.2rem);
		overflow: inherit;

		&::before {
			align-items: center;
			background-color: $color-neutral-10;
			border-radius: 10rem;
			display: flex;
			height: 8rem;
			justify-content: center;
			transform: translateY(-2.2rem);
			width: 8rem;
		}
	}
}
