<ion-header>
	<ion-navbar>
		<ion-title>{{budgetName}}</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col col-12>
              <ion-card>
                  <ion-card-header>Monthly</ion-card-header>
                  <ion-card-content *ngIf="showIncomeNumber">
                     ${{remainingBudgetTotal}}
                  </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
              <ion-card>
                  <ion-card-header>Weekly</ion-card-header>
                  <ion-card-content *ngIf="showIncomeNumber">
                     ${{remainingWeeklyBalance}}
                  </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col col-6>
              <ion-card>
                  <ion-card-header>Daily</ion-card-header>
                  <ion-card-content *ngIf="showIncomeNumber">
                     ${{remainingDailyBalance}}
                  </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>

  	<ion-list>
    	<h2>Income</h2>
		<ion-item>
		<ion-input
			type="number"
			placeholder="Income"
			[(ngModel)]="incomeValue"
			(ngModelChange)="incomeValue = convertToNumber($event)"
			(keyup.enter)="onEnterIncome()"></ion-input>
		</ion-item>
    	<div *ngIf="showIncomeNumber">{{incomeValue}}</div>

		<h2>Add Expense</h2>
		<ion-item>
			<ion-input
			type="text"
			placeholder="Expense Name"
			[(ngModel)]="expenseName"></ion-input>
		</ion-item>
			<ion-item>
				<ion-input
					type="number"
					placeholder="Amount"
					[(ngModel)]="expenseValue"
					(ngModelChange)="expenseValue = convertToNumber($event)"></ion-input>
			</ion-item>

        <button ion-button (click)="onAddExpense({name: expenseName, amount: expenseValue})">Add Expense</button>
  </ion-list>

</ion-content>
