.page-budget {
  background-color: #D9E2EC;
}

.budget-header {
	background-image: linear-gradient(to bottom, #3EBD93, #0C6B58);
	color: #F0F4F8;
	height: 35%;

	&__title {
		font-size: $fs-20;
		font-weight: bold;
		padding-top: 25px;
	}
}

.balance {
	margin-top: 40px;

	&__amount {
		font-size: $fs-48;
		font-weight: 600;
	}

	&__subtitle {
    	font-size: $fs-14;
    	margin-top: 10px;
    	text-transform: uppercase;
  	}
}

.budget-tabs {
  align-items: center;
  background-color: $color-white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-sm;
  display: flex;
  font-weight: 600;
  height: 4rem;
  justify-content: space-around;
  margin: 100px 16px 0 16px;
  text-transform: uppercase;

  &__tab {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 15rem;
  }

  &__tab--selected {
    align-items: center;
    background: $color-primary-9;
    border: $border-primary-1;
    border-radius: 4rem;
    display: flex;
    padding: 0;
    justify-content: center;
    text-align: center;
  }
}

.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block {
	border-bottom: none;
}
