.summary {
  background-color: color($colors, primary);

  &__total {
    font-size: 5rem;
    color: color($colors, white);
    font-weight: bold;
  }

  &__total-subtext {
    font-size: 1.5rem;
  }
}
